--- Makefile.target.orig	2020-06-01 09:44:01 UTC
+++ Makefile.target
@@ -49,8 +49,8 @@ define create_program_targets
   ifdef $1_INSTALLNAME
 install: $(DESTDIR)$(P_BINDIR)/$($1_INSTALLNAME)
 $(DESTDIR)$(P_BINDIR)/$($1_INSTALLNAME): $(dir $2)$($1_INSTALLNAME)
-	@$(BIN_MKDIR) -p $(DESTDIR)$(P_BINDIR)
-	@$(BIN_INSTALL) $(dir $2)$($1_INSTALLNAME) $(DESTDIR)$(P_BINDIR)/$($1_INSTALLNAME)
+	$(BIN_MKDIR) -p $(DESTDIR)$(P_BINDIR)
+	$(BIN_INSTALL) $(dir $2)$($1_INSTALLNAME) $(DESTDIR)$(P_BINDIR)/$($1_INSTALLNAME)
 $(dir $2)$($1_INSTALLNAME): $($1_OBJ)
 	$(BIN_CXX) -o $(dir $2)$($1_INSTALLNAME) $(LDFLAGS) $($1_OBJ) $(LIBS) $($1_LIBS)
 all: $(dir $2)$($1_INSTALLNAME)
